
@font-face {
  font-family: "SourceHanSansCN-Bold";
  src: url("./fonts/SourceHanSansCN-Bold.otf") format("truetype");
}

@font-face {
  font-family: "SourceHanSansCN-Medium";
  src: url("./fonts/SourceHanSansCN-Medium.otf") format("truetype");
}

@font-face {
  font-family: "SourceHanSansCN-Normal";
  src: url("./fonts/SourceHanSansCN-Normal.otf") format("truetype");
}

@font-face {
  font-family: "SourceHanSansCN-Regular";
  src: url("./fonts/SourceHanSansCN-Regular.otf") format("truetype");
}

@font-face {
  font-family: "RTWS-ShangYa-Demo";
  src: url("./fonts/RTWS-ShangYa-Demo.otf") format("truetype");
}

@font-face {
  font-family: "DIN-Bold";
  src: url("./fonts/DIN-Bold.otf") format("truetype");
}

@font-face {
  font-family: "DIN-Medium";
  src: url("./fonts/DIN-Medium.otf") format("truetype");
}

@font-face {
  font-family: "PingFangMedium";
  src: url("./fonts/PingFangMedium.ttf") format("truetype");
}
